Checks:
"
-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-exception-escape,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-narrowing-conversions,
cppcoreguidelines-init-variables,
google-readability-namespace-comments,
hicpp-*,
-hicpp-member-init,
-hicpp-vararg,
misc-*,
-misc-header-include-cycle,
-misc-include-cleaner,
-misc-non-private-member-variables-in-classes,
-misc-unused-parameters,
mpi-*,
modernize-use-nodiscard,
openmp-*,
performance-*,
readability-*,
-readability-identifier-length,
-readability-magic-numbers,
-readability-function-cognitive-complexity
"
