# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  -clang-analyzer-security.ArrayBound,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-member-init,
  google-*,
  hicpp-*,
  -hicpp-member-init,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  -modernize-use-trailing-return-type,
  mpi-*,
  openmp-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  -portability-template-virtual-member-function,
  readability-*,
  -readability-use-concise-preprocessor-directives,
  -readability-identifier-length,
  -readability-function-cognitive-complexity
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;5'
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: '1;2;3;4;5'
