image:
  name: ghcr.io/maison-de-la-simulation/nova:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 2
  CMAKE_BUILD_PARALLEL_LEVEL: 2
  CMAKE_GENERATOR: Ninja

before_script:
  - git config --global --add safe.directory $CI_PROJECT_DIR
  - git config --global --add safe.directory $CI_PROJECT_DIR/vendor/kokkos

stages:
  - env
  - lint
  - build
  - test
  - deploy

env-job:common:gtest:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: env
  needs: []
  script:
    - cmake -B build -S vendor/googletest
    - cmake --build build
    - cmake --install build --prefix $CI_PROJECT_DIR/opt/gtest
  artifacts:
    expire_in: 1h
    paths:
      - opt/gtest

env-job:common:inih:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: env
  needs: []
  script:
    - cmake -B build -S vendor/inih
    - cmake --build build
    - cmake --install build --prefix $CI_PROJECT_DIR/opt/inih
  artifacts:
    expire_in: 1h
    paths:
      - opt/inih

env-job:serial:kokkos:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: env
  needs: []
  script:
    - cmake -B build -S vendor/kokkos -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_DEBUG=ON -DKokkos_ENABLE_DEBUG_DUALVIEW_MODIFY_CHECK=ON -DKokkos_ENABLE_DEBUG_BOUNDS_CHECK=ON -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build
    - cmake --install build --prefix $CI_PROJECT_DIR/opt/kokkos
  artifacts:
    expire_in: 1h
    paths:
      - opt/kokkos

build-job:serial:all:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: []
  script:
    - bash ./test/build_suite_full.sh

build-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:common:inih", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=old-style-cast -Werror=extra-semi" -DNovapp_NDIM=1 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:serial:2d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:common:inih", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=old-style-cast -Werror=extra-semi" -DNovapp_NDIM=2 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:serial:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:common:inih", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=old-style-cast -Werror=extra-semi" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:cuda:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:common:inih"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
    NVCC_WRAPPER_DEFAULT_COMPILER: g++-13
  script:
    - cmake -B build-kokkos -S vendor/kokkos -DCMAKE_CXX_COMPILER=$CI_PROJECT_DIR/vendor/kokkos/bin/nvcc_wrapper -DCMAKE_CXX_EXTENSIONS=OFF -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_CUDA=ON -DKokkos_ARCH_AMPERE80=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build-kokkos
    - cmake --install build-kokkos --prefix $CI_PROJECT_DIR/opt/kokkos
    - export Kokkos_ROOT=$CI_PROJECT_DIR/opt/kokkos
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=None -DCMAKE_CXX_COMPILER=$CI_PROJECT_DIR/vendor/kokkos/bin/nvcc_wrapper -DBUILD_TESTING=ON -DCMAKE_CXX_EXTENSIONS=OFF -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=all-warnings" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build

build-job:hip:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:common:inih"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
  script:
    - cmake -B build-kokkos -S vendor/kokkos -DCMAKE_CXX_COMPILER=hipcc -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_HIP=ON -DKokkos_ENABLE_ROCTHRUST=OFF -DKokkos_ARCH_VEGA90A=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build-kokkos
    - cmake --install build-kokkos --prefix $CI_PROJECT_DIR/opt/kokkos
    - export Kokkos_ROOT=$CI_PROJECT_DIR/opt/kokkos
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=None -DCMAKE_CXX_COMPILER=hipcc -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=old-style-cast -Werror=extra-semi" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build

unit-test-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:1d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

unit-test-job:serial:2d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:2d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

unit-test-job:serial:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:3d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

convergence-advection-sinusoide-test-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:1d"]
  script:
    - ./test/run_convergence_advection_sinus.sh

# clang-format-job:
#   rules:
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#   stage: test
#   needs: []
#   script:
#     - find src tests -name '*.[h|c]pp' -exec clang-format --dry-run --ferror-limit=10 --Werror '{}' '+'
#   allow_failure: true

clang-tidy-job:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: lint
  needs: ["env-job:common:gtest", "env-job:common:inih", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    inih_ROOT: $CI_PROJECT_DIR/opt/inih
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_CXX_COMPILER=clang++-18 -DCMAKE_CXX_CLANG_TIDY="clang-tidy-18;-header-filter=$CI_PROJECT_DIR/src/.*;-warnings-as-errors=*" -DBUILD_TESTING=ON -DNovapp_NDIM=3 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_inih_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build

trailing-whitespaces-job:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: lint
  needs: []
  script:
    - find src tests inputs -type f \( -name '*.[c|h]pp' -o -name 'CMakeLists.txt' \) -exec ./test/trailing_spaces.py --Werror '{}' '+'

doxygen-job:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: []
  script:
    - cmake -B build -S . -DDOXYGEN_WARN_AS_ERROR=YES -DNovapp_NDIM=3 -DNovapp_SETUP=advection_sinus -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF
    - cmake --build build --target doxygen
