image:
  name: ghcr.io/maison-de-la-simulation/nova:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

before_script:
  - git config --global --add safe.directory $CI_PROJECT_DIR/vendor/kokkos

stages:
  - env
  - lint
  - build
  - test
  - deploy

env-job:common:gtest:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: env
  needs: []
  script:
    - cmake -B build -S vendor/googletest
    - cmake --build build
    - cmake --install build --prefix $CI_PROJECT_DIR/opt/gtest
  artifacts:
    expire_in: 1h
    paths:
      - opt/gtest

env-job:serial:kokkos:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: env
  needs: []
  script:
    - cmake -B build -S vendor/kokkos -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_DEBUG=ON -DKokkos_ENABLE_DEBUG_DUALVIEW_MODIFY_CHECK=ON -DKokkos_ENABLE_DEBUG_BOUNDS_CHECK=ON -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build
    - cmake --install build --prefix $CI_PROJECT_DIR/opt/kokkos
  artifacts:
    expire_in: 1h
    paths:
      - opt/kokkos

build-job:serial:all:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: []
  script:
    - bash ./test_suite_full.sh

build-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=extra-semi" -DNovapp_NDIM=1 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:serial:2d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=extra-semi" -DNovapp_NDIM=2 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:serial:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest", "env-job:serial:kokkos"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    Kokkos_ROOT: $CI_PROJECT_DIR/opt/kokkos
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic -pedantic-errors -Werror=extra-semi" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DNovapp_Kokkos_DEPENDENCY_POLICY=INSTALLED
    - cmake --build build
  artifacts:
    expire_in: 1h
    paths:
      - build
      - bin

build-job:cuda:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
    NVCC_WRAPPER_DEFAULT_COMPILER: g++-11
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=None -DCMAKE_CXX_COMPILER=$CI_PROJECT_DIR/vendor/kokkos/bin/nvcc_wrapper -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Wpedantic -Werror=cross-execution-space-call" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_CUDA=ON -DKokkos_ARCH_AMPERE80=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build

build-job:hip:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: build
  needs: ["env-job:common:gtest"]
  variables:
    GTest_ROOT: $CI_PROJECT_DIR/opt/gtest
  script:
    - cmake -B build -S . -DCMAKE_BUILD_TYPE=None -DCMAKE_CXX_COMPILER=hipcc -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-Werror=all -Werror=extra -Werror=pedantic" -DNovapp_NDIM=3 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DNovapp_GTest_DEPENDENCY_POLICY=INSTALLED -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_HIP=ON -DKokkos_ARCH_VEGA90A=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF -DKokkos_ENABLE_COMPILER_WARNINGS=ON
    - cmake --build build

unit-test-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:1d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

unit-test-job:serial:2d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:2d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

unit-test-job:serial:3d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:3d"]
  script:
    - ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
  artifacts:
    when: always
    reports:
      junit: build/tests.xml

convergence-advection-sinusoide-test-job:serial:1d:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: test
  needs: ["build-job:serial:1d"]
  script:
    - ./test/run_convergence_advection_gaussian.sh

# clang-format-job:
#   rules:
#     - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
#     - if: $CI_PIPELINE_SOURCE == "merge_request_event"
#   stage: test
#   needs: []
#   script:
#     - find src tests -name '*.[h|c]pp' -exec clang-format --dry-run --ferror-limit=10 --Werror '{}' '+'
#   allow_failure: true

clang-tidy-job:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  stage: lint
  needs: []
  script:
    - cmake -B build -S . -DCMAKE_CXX_COMPILER=clang++-14 -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DBUILD_TESTING=ON -DNovapp_NDIM=3 -DNovapp_SETUP=advection_gaussian -DNovapp_EOS=PerfectGas -DNovapp_GEOM=Cartesian -DNovapp_GRAVITY=Uniform -DKokkos_ENABLE_SERIAL=ON -DKokkos_ENABLE_DEPRECATED_CODE_4=OFF -DKokkos_ENABLE_DEPRECATION_WARNINGS=OFF
    - find src tests -path src/deprecated -prune -o -name '*.cpp' -exec clang-tidy -p build -header-filter=$CI_PROJECT_DIR/src/.* --checks="-*,bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-exception-escape,-bugprone-implicit-widening-of-multiplication-result,-bugprone-narrowing-conversions,hicpp-*,-hicpp-member-init,-hicpp-vararg,readability-avoid-const-params-in-decls" --warnings-as-errors="*" '{}' '+'
