# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Build cache on Ubuntu

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/buildcache.yaml'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0

      - name: Set up Spack
        uses: spack/setup-spack@5ab3c91bdefffffad9a7e45d1d156146afebb3a7  # 2.1.1
        with:
          ref: v1.1.0      # Spack version (examples: develop, releases/v0.21)
          buildcache: false  # Configure oci://ghcr.io/spack/github-actions-buildcache
          color: true       # Force color output (SPACK_COLOR=always)
          path: spack       # Where to clone Spack

      - name: Spec
        run: spack --env . compiler find

      - name: Spec
        run: spack --env . spec -I

        # - name: Install
        #   run: spack --env . install

        # - name: Run
        #   shell: spack-bash {0}
        #   run: |
        #     spack env activate .
        #     python3 -c 'print("hello world")'

        # - name: Push packages and update index
        #   if: false
        #   env:
        #     GITHUB_USER: ${{github.actor}}
        #     GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        #   run: spack --env . buildcache push --base-image ubuntu:24.04 --update-index local-buildcache
