# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: General checks

# yamllint disable-line rule:truthy
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  reuse-compliance-check:
    name: Reuse compliance check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: rm -rf vendor
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5  # v6.0.0

  spelling-check:
    name: Spell check using typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Spell Check Repo
        uses: crate-ci/typos@57b11c6b7e54c402ccd9cda953f1072ec4f78e33  # v1.43.5

  trailing-whitespaces-check:
    name: Trailing whitespaces check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: ./test/trailing_spaces.py --Werror $(git ls-files ':!vendor' ':!*.h5')

  newlines-check:
    name: Newlines check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: ./test/newline_at_eof.py --Werror $(git ls-files ':!vendor' ':!*.h5')

  gitleaks-scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@ff98106e4c7b2bc287b24eaf42907196329070c7  # v2.3.9
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          GITLEAKS_LICENSE: ${{secrets.GITLEAKS_LICENSE}}
