# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: INI checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/ini-checks.yaml'
      - '**.ini'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ini-lint:
    name: INI lint using validator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          cache: false
          go-version: 1.22
      - name: Install validator
        run: go install github.com/Boeing/config-file-validator/cmd/validator@v1.8.0
      - name: Run validator
        run: validator inputs
