# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: INI checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/ini-checks.yaml'
      - '**.ini'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ini-lint:
    name: INI lint using validator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5  # v5.5.0
        with:
          cache: false
          go-version: 1.22
      - name: Install validator
        run: go install github.com/Boeing/config-file-validator/cmd/validator@v1.8.0
      - name: Run validator
        run: validator inputs
