# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Packages cleanup

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 1 * * 1"  # every monday at 1am
  workflow_dispatch:

permissions:
  contents: read
  packages: write  # Required by actions/delete-package-versions

jobs:
  delete-packages:
    name: Delete old packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55  # v5.0.0
        with:
          package-name: 'heraclespp'
          package-type: 'container'
          min-versions-to-keep: 1
