# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Python checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/python-checks.yaml'
      - '**.py'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python-format:
    name: Python format using black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - name: Install dependencies
        run: |
          pipx install black
      - name: Check format using black
        run: |
          black --line-length 100 $(git ls-files '*.py')

  python-lint:
    name: Python lint using pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - name: Install dependencies
        run: |
          pipx install pylint
      - name: Analysing the code with pylint
        run: |
          pylint  --disable=R0801,R0912,R0913,R0914,R0915,R0917,W0621,C0103,C0114,C0116,E1101,E0401 --max-line-length 100 $(git ls-files '*.py')
