# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Python checks

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/python-checks.yaml'
      - '**.py'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  python-format:
    name: Python format using black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Install dependencies
        run: |
          pipx install black~=25.11
      - name: Check format using black
        run: |
          black --line-length 100 $(git ls-files '*.py')

  python-lint:
    name: Python lint using pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - name: Install dependencies
        run: |
          pipx install pylint~=4.0
      - name: Analysing the code with pylint
        run: |
          pylint  --disable=R0801,R0912,R0913,R0914,R0915,R0917,C0103,C0114,C0116,E1101,E0401 --max-line-length 100 $(git ls-files '*.py')
