# SPDX-FileCopyrightText: 2025 The HERACLES++ development team, see COPYRIGHT.md file
#
# SPDX-License-Identifier: MIT

---
name: Tests on Ubuntu

# yamllint disable-line rule:truthy
on:
  pull_request:
    paths:
      - '.github/workflows/tests-ubuntu.yaml'
      - '**.cpp'
      - '**.hpp'
      - '**.hpp.in'
      - 'CMakeLists.txt'
      - '**/CMakeLists.txt'
      - '**.cmake'
      - '**.cmake.in'
      - 'docker/**'
      - 'vendor/inih/**'
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{github.workflow}}-${{github.ref == github.ref_protected && github.run_id || github.event.pull_request.number || github.ref}}
  cancel-in-progress: true

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 4
  CMAKE_BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja
  HERACLESPP_DEFAULT_DEPENDENCY_POLICY: INSTALLED

jobs:
  cpp-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe  # v4.16.0
        with:
          clang-format-version: '21'
          exclude-regex: 'vendor'

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Prefer 'if defined'/'if !defined' over 'ifdef'/'ifndef'
        run: if grep -RE "(ifdef|ifndef)" $(git ls-files '*.[ch]pp' ':!vendor'); then exit 1; fi
      - name: Find modifications of Kokkos reserved macros
        run: if grep -RE "(define|undef) KOKKOS_" $(git ls-files '*.[ch]pp'); then exit 1; fi
      - name: Prefer to not use 'KOKKOS_CLASS_LAMBDA'
        run: if grep -RE "KOKKOS_CLASS_LAMBDA" $(git ls-files '*.[ch]pp'); then exit 1; fi

  env-common:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: google/googletest
          ref: v1.17.0
          path: googletest
      - run: |
          cmake \
            -B googletest/build \
            -S googletest
          cmake --build googletest/build
          cmake --install googletest/build --prefix opt/gtest
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          path: heraclespp
      - run: |
          cmake \
            -B heraclespp/vendor/inih/build \
            -S heraclespp/vendor/inih
          cmake --build heraclespp/vendor/inih/build
          cmake --install heraclespp/vendor/inih/build --prefix opt/inih
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: google/benchmark
          ref: v1.9.4
          path: benchmark
      - run: |
          cmake \
            -D BENCHMARK_ENABLE_TESTING=OFF \
            -B benchmark/build \
            -S benchmark
          cmake --build benchmark/build
          cmake --install benchmark/build --prefix opt/benchmark
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: env-common
          path: opt
          retention-days: 1

  env-cuda:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    env:
      NVCC_WRAPPER_DEFAULT_COMPILER: g++-13
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: kokkos/kokkos
          ref: 5.0.0
          path: kokkos
      - run: |
          cmake \
            -D CMAKE_CXX_EXTENSIONS=OFF \
            -D Kokkos_ARCH_AMPERE80=ON \
            -D Kokkos_ENABLE_COMPILER_WARNINGS=ON \
            -D Kokkos_ENABLE_CUDA=ON \
            -D Kokkos_ENABLE_DEPRECATED_CODE_5=ON \
            -D Kokkos_ENABLE_DEPRECATION_WARNINGS=OFF \
            -D Kokkos_ENABLE_SERIAL=ON \
            -B kokkos/build \
            -S kokkos
          cmake --build kokkos/build
          cmake --install kokkos/build --prefix opt/kokkos-cuda
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: env-cuda
          path: opt
          retention-days: 1

  env-hip:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    env:
      CXX: hipcc
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: kokkos/kokkos
          ref: 5.0.0
          path: kokkos
      - run: |
          cmake \
            -D Kokkos_ARCH_AMD_GFX90A=ON \
            -D Kokkos_ENABLE_COMPILER_WARNINGS=ON \
            -D Kokkos_ENABLE_DEPRECATED_CODE_5=ON \
            -D Kokkos_ENABLE_DEPRECATION_WARNINGS=OFF \
            -D Kokkos_ENABLE_HIP=ON \
            -D Kokkos_ENABLE_ROCTHRUST=OFF \
            -D Kokkos_ENABLE_SERIAL=ON \
            -B kokkos/build \
            -S kokkos
          cmake --build kokkos/build
          cmake --install kokkos/build --prefix opt/kokkos-hip
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: env-hip
          path: opt
          retention-days: 1

  env-serial:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: kokkos/kokkos
          ref: 5.0.0
          path: kokkos
      - run: |
          cmake \
            -D Kokkos_ENABLE_COMPILER_WARNINGS=ON \
            -D Kokkos_ENABLE_DEBUG=ON \
            -D Kokkos_ENABLE_DEBUG_BOUNDS_CHECK=ON \
            -D Kokkos_ENABLE_DEBUG_DUALVIEW_MODIFY_CHECK=ON \
            -D Kokkos_ENABLE_DEPRECATED_CODE_5=ON \
            -D Kokkos_ENABLE_DEPRECATION_WARNINGS=OFF \
            -D Kokkos_ENABLE_SERIAL=ON \
            -B kokkos/build \
            -S kokkos
          cmake --build kokkos/build
          cmake --install kokkos/build --prefix opt/kokkos-serial
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: env-serial
          path: opt
          retention-days: 1

  build-serial-all:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      CXXFLAGS: -Wall -Wextra -Wpedantic -pedantic-errors
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          ./test/build_suite_full.py ./test/setups.yaml

  build-serial-1d:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      CMAKE_BUILD_TYPE: Debug
      CXXFLAGS: -Wall -Wextra -Wpedantic -pedantic-errors -Wold-style-cast -Wextra-semi
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    permissions:
      checks: write  # Required by mikepenz/action-junit-report
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_COMPILE_WARNING_AS_ERROR=ON \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=1 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build
          ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
          ./build/benchmarks/benchmarks --benchmark_dry_run=true
          cmake --install build --prefix $PWD
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc  # v6.1.0
        if: ( success() || failure() )  # always run even if the previous step fails
        with:
          report_paths: '${{github.workspace}}/tests.xml'
      - run: |
          ./test/convergence_advection_sinus/run_convergence_advection_sinus.py

  build-serial-2d:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      CMAKE_BUILD_TYPE: Debug
      CXXFLAGS: -Wall -Wextra -Wpedantic -pedantic-errors -Wold-style-cast -Wextra-semi
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    permissions:
      checks: write  # Required by mikepenz/action-junit-report
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_COMPILE_WARNING_AS_ERROR=ON \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=2 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build
          ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
          ./build/benchmarks/benchmarks --benchmark_dry_run=true
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc  # v6.1.0
        if: ( success() || failure() )  # always run even if the previous step fails
        with:
          report_paths: '${{github.workspace}}/tests.xml'

  build-serial-3d:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      CMAKE_BUILD_TYPE: Debug
      CXXFLAGS: -Wall -Wextra -Wpedantic -pedantic-errors -Wold-style-cast -Wextra-semi
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    permissions:
      checks: write  # Required by mikepenz/action-junit-report
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_COMPILE_WARNING_AS_ERROR=ON \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build
          ctest --test-dir build --output-on-failure --timeout 5 --output-junit tests.xml
          ./build/benchmarks/benchmarks --benchmark_dry_run=true
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc  # v6.1.0
        if: ( success() || failure() )  # always run even if the previous step fails
        with:
          report_paths: '${{github.workspace}}/tests.xml'

  build-cuda-3d:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-cuda
    env:
      CXXFLAGS: -Werror=all -Werror=extra
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-cuda
      NVCC_WRAPPER_DEFAULT_COMPILER: g++-13
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          chmod +x ${Kokkos_ROOT}/bin/*
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_CXX_EXTENSIONS=OFF \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build

  build-hip-3d:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-hip
    env:
      CXX: hipcc
      CXXFLAGS: -Wall -Wextra -Wpedantic -pedantic-errors -Wold-style-cast -Wextra-semi
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-hip
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_COMPILE_WARNING_AS_ERROR=ON \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build

  include-what-you-use:
    runs-on: ubuntu-latest
    if: ${{github.event_name == 'workflow_dispatch'}}
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          git clone https://gist.github.com/c033bea32c51395c85fb5a4d74d8183b.git iwyu
          mv iwyu/iwyu-kokkos.json .
          rm -rf iwyu
      - run: |
          git clone https://gist.github.com/a2c433405ae2b1f8a7a99def76a22149.git iwyu
          mv iwyu/iwyu-heraclespp.json .
          rm -rf iwyu
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_CXX_COMPILER=clang++-21 \
            -D CMAKE_CXX_INCLUDE_WHAT_YOU_USE="include-what-you-use;-Xiwyu;--verbose=3;-Xiwyu;--mapping=$PWD/iwyu-heraclespp.json;-Xiwyu;--mapping=$PWD/iwyu-kokkos.json;" \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build

  clang-tidy:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_CXX_COMPILER=clang++-21 \
            -D CMAKE_CXX_CLANG_TIDY="clang-tidy-21;-header-filter=${{github.workspace}}/src/.*;-warnings-as-errors=*" \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build

  link-what-you-use:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=ON \
            -D CMAKE_CXX_COMPILER=clang++-21 \
            -D CMAKE_LINK_WHAT_YOU_USE=ON \
            -D Heraclespp_BUILD_BENCHMARKING=ON \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build

  doxygen:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/maison-de-la-simulation/heraclespp:main
    needs:
      - env-common
      - env-serial
    env:
      benchmark_ROOT: ${{github.workspace}}/opt/benchmark
      GTest_ROOT: ${{github.workspace}}/opt/gtest
      inih_ROOT: ${{github.workspace}}/opt/inih
      Kokkos_ROOT: ${{github.workspace}}/opt/kokkos-serial
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          path: opt
          merge-multiple: true
      - run: |
          cmake \
            -D BUILD_TESTING=OFF \
            -D DOXYGEN_WARN_AS_ERROR=YES \
            -D Heraclespp_BUILD_BENCHMARKING=OFF \
            -D Heraclespp_EOS=PerfectGas \
            -D Heraclespp_GEOM=Cartesian \
            -D Heraclespp_GRAVITY=Uniform \
            -D Heraclespp_NDIM=3 \
            -D Heraclespp_SETUP=advection_sinus \
            -B build
          cmake --build build --target doxygen
